<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flask-Dropzone Demo: Complete Redirect</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/Bootstrap/bootstrap.min.js">
  <link rel="stylesheet" href="/static/css/bootstrap.css.map">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/>#}
{#  <script src="https://kit.fontawesome.com/d8dbc9b6d4.js"></script>#}



  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px; padding: 10px 10px 10px 10px') }}
</head>
<body>
    {% include 'menu.html' %}
        <div class="btn-group pull-right" id="btn-align" style="padding: 0px 50px 0px 0px; position: relative; top: -50px; right: 0px" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark"> 이전 </button>
          <button type="button" class="btn btn-dark" id="upload"> 다음 </button>
        </div>
  <div>
      {{ dropzone.create('upload') }}
      {{ dropzone.load_js() }}
      {{ dropzone.config() }}
  </div>

</body>
</html>