<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/selectstyle.css">
    <style type="text/css">
        .fa-check {
            align-content: center;
        }
    </style>
    <title>Hello, world!</title>
  </head>

<body>
    {% include 'menu.html' %}
        <div class="btn-group pull-right" id="btn-align" style="padding: 0px 50px 0px 0px; position: relative; top: -50px; right: 0px" role="group" aria-label="Basic example">
          <button type="button submit" class="btn btn-dark" value={{ prev }}> 이전 </button>
          <button type="button submit" class="btn btn-dark" href={{ url_for('output') }}> 다음 </button>
        </div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Choose Your <b> Customize</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
			</ol>

			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item carousel-item active">
					<div class="row" name="texture">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://previews.123rf.com/images/torsakarin/torsakarin1305/torsakarin130500021/19386593-%EA%B1%B0%EC%B9%9C-%EC%A7%88%EA%B0%90-%EC%BD%98%ED%81%AC%EB%A6%AC%ED%8A%B8-%EB%B8%94%EB%A1%9D-%EB%B2%BD%EC%9D%98-%EC%97%AC%EB%9F%AC-%ED%96%89.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Korean Bricks</h4>
									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://i.pinimg.com/originals/85/78/b0/8578b061d89d1947a2d88f8adc57cfc0.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Steel</h4>
									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://i.pinimg.com/originals/70/35/63/70356304b5bd3272f3143ecbe68713d2.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Concrete</h4>
									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://blog.architizer.com/wp-content/uploads/2_3.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Curtain Wall</h4>
									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item carousel-item">
					<div class="row" name="architecturer">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://post-phinf.pstatic.net/MjAxODAyMTJfMjY0/MDAxNTE4NDE3MDI4MzE3.-B0D4y26V23HsQGDjGD4Ulab4NiFjVQbgZSO3sNvKosg.S49ZKgCFFY1Di9GzNlGIR5ZOJn5bpIDNDcEbJbAB-Q0g.JPEG/image_921244191518416891946.jpg?type=w1200" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Antonio Gaudi</h4>

									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="http://mblogthumb2.phinf.naver.net/20120527_65/rockstone07_1338114630166Vko2Q_JPEG/cyworld_com_20120527_192950.jpg?type=w420" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>김중업</h4>

									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://live.staticflickr.com/4039/4571059176_44f0b2be63_b.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Frank Ghary</h4>

									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://image.ytn.co.kr/general/jpg/2019/0324/201903240744135908_t.jpg" class="img-responsive img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Zaha Hadid</h4>

									<a href="#" class="btn btn-primary"><i class="fas fa-check"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev" role="button">
				<i class="fa fa-angle-left"><h3></h3></i>
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"><h3></h3></i>
			</a>
		</div>
		</div>
	</div>
</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>